<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="https://pokemonline.netlify.app/">Check the site here</a>
    <p>ROTAS:</p>
    <ul>/users</ul>
    <li>GET users: /users/</li>
    <li>GET user by id: /user/{id}</li>
    <li>POST user: /users/</li>
    <li>LOGIN user: /users/login/</li>
    <li>ADD POKEMON TO user: /users/pokemons/{id} ---- body:{pokemon, type, stamina, attack, form, defense}</li>
    <li>ADD POKEMON-BATTLE TO user: /users/pokemon-battle/{id} ---- body:{pokemon, type, stamina, attack, form, defense}</li>
    <li>DEL user by id: /users/{id}</li>
  </body>
</html>
